Custom Stylesheet
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body {
  background-color: rgb(163, 163, 163);
} 

nav ul a,
nav .brand-logo {
  color: rgb(253, 253, 253);
}
img {
  width : 93px;
}


.carousel {
  height: 700px !important;
}

}
p {
  line-height: 2rem;
}
h1 {
  color: #00a164;
  text-shadow: 4px 4px 4px #01462b;
}

h5 {
  color: whitesmoke;
  text-shadow: 4px 4px 4px #000000;
}
a {
  color: #00a164;
}
.sidenav-trigger {
  color: #008b56;
}

::-webkit-slider-runnable-track {
  animation-name: none;
}
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

  @media only screen and (min-width : 992px) {
    .sidenav,.sidenav-overlay {
      display: none !important;
    }
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer {
  
  height: 100%;
  margin: auto; 
  background: rgb(0, 104, 0); 
  overflow: hidden;
  
}

/* FORMULAIRE */

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style du bouton "envoyer" */
input[type=submit] {
  background-color: darkblue;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* animation du bouton "envoyer" */
input[type=submit]:hover {
  background-color: #2904ff;
}

 /* Style du bouton "annuler" */
 button {
  background-color: darkblue;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

 /* animation du bouton "envoyer" */
 button:hover {
  background-color: #2904ff;
}
/* style label */
label {
  color: white;
}
/* couleur d'arrière plan du formulaire */
.container {
  border-radius: 5px;
  background-color:rgb(12, 12, 12);
  
  padding: 20px;
}
/* Couleur du text legend */
legend {
    color: whitesmoke;
}

/* couleur du reste du texte */
i {
    color: whitesmoke;
}

/* couleur de texte pour text danger */

span {

color: rgb(255, 1, 1);

}
